In [88]:
import numpy as np
import pandas as pd

In [92]:
transfermarkt = pd.read_excel('data/transfermarktFINAL.xlsx')


standard = pd.read_excel('data/league_data/england/england_std.xlsx')
shooting = pd.read_excel('data/league_data/england/england_shooting.xlsx').drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Gls','Matches'],axis=1)
shot_creation = pd.read_excel('data/league_data/england/england_shot_creation.xlsx').drop(['Rk','Player','Nation','Pos','Squad','Age','Born','90s▼','Matches'],axis=1)
possession = pd.read_excel('data/league_data/england/england_possession.xlsx').drop(['Rk','Player','Nation','Pos','Squad','Age','Born','90s','Matches'],axis=1)
passing = pd.read_excel('data/league_data/england/england_passing.xlsx').drop(['Rk','Player','Nation','Pos','Squad','Age','Born','90s','Matches'],axis=1)
defend = pd.read_excel('data/league_data/england/england_defending.xlsx').drop(['Rk','Player','Nation','Pos','Squad','Age','Born','90s','Matches'],axis=1)
misc = pd.read_excel('data/league_data/england/england_misc.xlsx').drop(['Rk','Player','Nation','Pos','Squad','Age','Born','90s','Matches'],axis=1)
gk_std = pd.read_excel('data/league_data/england/england_goalkeeping.xlsx').drop(['Rk','Player','Nation','Pos','Squad','Age','Born','90s','Matches'],axis=1)
gk_adv = pd.read_excel('data/league_data/england/england_goalkeeping_advanced.xlsx').drop(['Rk','Player','Nation','Pos','Squad','Age','Born','90s','Matches'],axis=1)

In [93]:
performance_df = pd.concat([standard, shooting, shot_creation, possession, passing, defend, misc],axis=1,join="inner")

In [94]:
performance_df

,Player,Squad,MP,Starts,Min,Total Mins/90,Gls,Ast,Non-Penalty Goals,Penalties Scored,...,Crosses,Interceptions,Tackles Won,Penalty Kicks Won,Penalties Conceded,Own Goals,Total Loose Balls Recovered,Aerial Duel Wons,Aerial Duel Lost,% Aerial Duels Won
0,Pierre Højbjerg,Tottenham,38,38,3420,38.0,2,4,2,0,...,11,49,82,0,1,0,429,52,40,56.5
1,Hugo Lloris,Tottenham,38,38,3420,38.0,0,0,0,0,...,0,0,0,0,0,0,152,0,0,NaN
2,Emiliano Martínez,Aston Villa,38,38,3420,38.0,0,0,0,0,...,0,0,0,0,0,0,178,0,0,NaN
3,Aaron Ramsdale,Sheffield Utd,38,38,3420,38.0,0,0,0,0,...,0,0,0,0,1,0,183,0,0,NaN
4,Kasper Schmeichel,Leicester City,38,38,3420,38.0,0,0,0,0,...,0,0,0,0,0,1,161,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,Leif Davis,Leeds United,2,0,33,0.4,0,0,0,0,...,0,0,0,0,0,0,1,0,3,0.0
495,Rekeem Harper,West Brom,2,0,32,0.4,0,0,0,0,...,1,0,1,0,0,0,2,1,3,25.0
496,Patrick Cutrone,Wolves,2,0,25,0.3,0,0,0,0,...,0,0,0,0,0,0,2,1,2,33.3
497,Oskar Buur,Wolves,1,0,22,0.2,0,0,0,0,...,0,0,0,0,0,0,2,0,0,NaN
498,Carney Chukwuemeka,Aston Villa,2,0,20,0.2,0,0,0,0,...,0,0,0,0,0,0,2,0,0,NaN